<!DOCTYPE html>
<html>
	<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	 <link href="../../static/css/metro-bootstrap.css" rel="stylesheet" />
        <link href="../../static/css/metro-bootstrap-responsive.css" rel="stylesheet" />
        <link href="../../static/css/iconFont.css" rel="stylesheet">
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/jquery.widget.min.js"></script>
        <script src="../../static/js/metro.min.js"></script>
        <link href="../../static/css/mystyle.css" rel="stylesheet" />
        <link rel="icon" href="../../static/image/logo.jpg" />
        <title>add_public_relation</title>
    	<style></style>
    
	</head>
    <body class="metro">
        <div class="container">
            <h1><img src="image/logo.jpg" alt="logo" />Moonbuck<small class="on-right">CRM后台管理系统</small></h1>
            <nav class="navigation-bar">
                <div class="navigation-bar-content">
                    <div class="element">
                        <a href="#" class="dropdown-toggle"><i class="icon-home"></i>导航栏</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">新手引导</a></li>
                            <li><a href="#">帮助文档</a></li>
                            <li><a href="#">建议与意见</a></li>
                        </ul>
                    </div>
                    <span class="element-divider"></span>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">采购管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">商品清单</a></li>
                            <li><a href="#">供应商管理</a></li>
                            <li><a href="#">采购提醒</a></li>
                            <li><a href="#">警告设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">销售管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">商品统计</a></li>
                            <li><a href="#">店面任务</a></li>
                            <li><a href="#">绩效</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">仓库管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">货品清单</a></li>
                            <li><a href="#">仓库分布</a></li>
                            <li><a href="#">供给情况</a></li>
                            <li><a href="#">关系变更</a></li>
                            <li><a href="#">库存警告</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">财务管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">报表查看</a></li>
                            <li><a href="#">资金管理</a></li>
                            <li><a href="#">银行关系</a></li>
                            <li><a href="#">经销商情况</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">客户关系管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">基本情况</a></li>
                            <li><a href="#">优惠统计</a></li>
                            <li><a href="#">偏好情况</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">知识管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">统计情况</a></li>
                            <li><a href="#">分类管理</a></li>
                            <li><a href="#">文章权限</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">基本设置</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">人员管理</a></li>
                            <li><a href="#">店面管理</a></li>
                            <li><a href="#">Some feature</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
         <!------------------------------------------------------------------->
         <div id="sidebar">
         <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Categories</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    	<li class="first"><a href="#">首页</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">用户管理</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;用户信息</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;分级信息</a></li>
                        <li><a href="#">项目管理</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;进程</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;新建</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>                     
                        <li class="last"><a href="#">最后。。。</a></li>
                    </ul><>
                </div>
            </div>
         </div>
         <!------------------------------------------------------------------->
         <div id="content_result">
         <div id="lebel_content">
   		  	 <h2 align="center";>公共关系信息</h2></br>
            
    <table class="hovered">
       <tr>
<td>媒体名称：<input id="medianame"  title="Medianame" name="Medianame" value="请输入媒体全称" type="text" /></td>
<td>媒体类型：<select id="shouzhongleixing" name="shouzhongleixing">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">微博</option>
                        <option value="3">微信平台</option>
                        <option value="4">新闻网站</option>
                        <option value="5">电视</option>
                        <option value="6">电台</option>
                        <option value="7">报刊</option>
                    <select></td>
</tr>
       <tr>
<td>影响指数：<input id="medianame"  title="Medianame" name="Medianame" value="请填入数值1至5" type="text" /></td>
<td>受众类型：<select id="shouzhongleixing" name="shouzhongleixing">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">全民</option>
                        <option value="3">微信用户</option>
                        <option value="4">微博用户</option>
                        <option value="5">学生</option>
                        <option value="6">男性群体</option>
                        <option value="7">女性群体</option>
                    <select></td>
</tr>
       <tr>
<td>服务价位：<input id="medianame"  title="Medianame" name="Medianame" value="请填入具体价位" type="text" /></td>

</tr>

    </table>
   </br> <p align="center";> <input style="margin:10px 40px" id="submit" value="确认添加" type="submit" /> <input style="margin:10px 40px" id="submit" value="保存修改" type="submit" /> <input style="margin:10px 40px" id="submit" value="删除用户" type="submit" /> </p>
           </div>
           
         </div>   
         <!------------------------------------------------------------------->
            <nav class="navigation-bar fixed-bottom light">
                <nav class="navigation-bar-content">
                    <div class="element place-right">
                        <ul class="element-menu drop-up">
                            <li>
                                <a class="dropdown-toggle without-icon" href="#" style="padding:0 !important;">
                                    <span class="icon-cog"></span>
                                </a>
                                <ul class="dropdown-menu place-right" data-role="dropdown">
                                    <li><a href="#">锁定</a></li>
                                    <li><a href="#">注销</a></li>
                                    <li><a href="#">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element  image-button image-left place-right">
                        Moonbuck
                        <img src="image/11.jpg" />
                    </button>
                    <span class="element-divider place-right"></span>
                    <div class="element place-right">
                        <span>北京大学信息管理系版权所有&copy;</span>
                    </div>
                </nav>
            </nav>
        </div>
	</body>
</html>
