<!DOCTYPE html>
<html>
	<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<link href="../../static/css/metro-bootstrap.css" rel="stylesheet" />
        <link href="../../static/css/metro-bootstrap-responsive.css" rel="stylesheet" />
        <link href="../../static/css/iconFont.css" rel="stylesheet">
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/jquery.widget.min.js"></script>
        <script src="../../static/js/metro.min.js"></script>
        <link href="../../static/css/mystyle.css" rel="stylesheet" />
        <link rel="icon" href="../../static/image/logo.jpg" />
        <title>crm_rank</title>
    	<style></style>
    
	</head>
    <body class="metro">
        <div class="container">
            <h1><img src="image/logo.jpg" alt="logo" />Moonbuck<small class="on-right">CRM后台管理系统</small></h1>
            <nav class="navigation-bar">
                <div class="navigation-bar-content">
                    <div class="element">
                        <a href="#" class="dropdown-toggle"><i class="icon-home"></i>导航栏</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">新手引导</a></li>
                            <li><a href="#">帮助文档</a></li>
                            <li><a href="#">建议与意见</a></li>
                        </ul>
                    </div>
                    <span class="element-divider"></span>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">采购管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">商品清单</a></li>
                            <li><a href="#">供应商管理</a></li>
                            <li><a href="#">采购提醒</a></li>
                            <li><a href="#">警告设置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">销售管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">商品统计</a></li>
                            <li><a href="#">店面任务</a></li>
                            <li><a href="#">绩效</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">仓库管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">货品清单</a></li>
                            <li><a href="#">仓库分布</a></li>
                            <li><a href="#">供给情况</a></li>
                            <li><a href="#">关系变更</a></li>
                            <li><a href="#">库存警告</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">财务管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">报表查看</a></li>
                            <li><a href="#">资金管理</a></li>
                            <li><a href="#">银行关系</a></li>
                            <li><a href="#">经销商情况</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">客户关系管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">基本情况</a></li>
                            <li><a href="#">优惠统计</a></li>
                            <li><a href="#">偏好情况</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">知识管理</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">统计情况</a></li>
                            <li><a href="#">分类管理</a></li>
                            <li><a href="#">文章权限</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                    <div class="element">
                        <a href="#" class="dropdown-toggle">基本设置</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">人员管理</a></li>
                            <li><a href="#">店面管理</a></li>
                            <li><a href="#">Some feature</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Some feature</a></li>
                            <li><a href="#">Some feature</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
         <!------------------------------------------------------------------->
         <div id="sidebar">
         <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Categories</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                    	<li class="first"><a href="#">首页</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">用户管理</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;用户信息</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;分级信息</a></li>
                        <li><a href="#">项目管理</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;进程</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;新建</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>
                        <li><a href="#">&nbsp;&nbsp;&nbsp;Empty</a></li>                     
                        <li class="last"><a href="#">最后。。。</a></li>
                    </ul><>
                </div>
            </div>
         </div>
         <!------------------------------------------------------------------->
         <div id="content_result">
         <div id="lebel_content">
   		  	 <h2 align="center";>积分制度管理</h2></br>
            <p>请勾选购买后可兑换积分的商品</p>
    <table class="hovered">
       <tr>
<td><form><input type="checkbox" name="product1" />商品1</form></td>
<td><form><input type="checkbox" name="product2" />商品2</form></td>
<td><form><input type="checkbox" name="product3" />商品3</form></td>
<td><form><input type="checkbox" name="product4" />商品4</form></td>
<td><form><input type="checkbox" name="product5" />商品5</form></td>
</tr>
       <tr>
<td><form><input type="checkbox" name="product6" />商品6</form></td>
<td><form><input type="checkbox" name="product7" />商品7</form></td>
<td><form><input type="checkbox" name="product8" />商品8</form></td>
<td><form><input type="checkbox" name="product9" />商品9</form></td>
<td><form><input type="checkbox" name="product10" />商品10</form></td>
</tr>
       <tr>
<td><form><input type="checkbox" name="product11" />商品11</form></td>
<td><form><input type="checkbox" name="product12" />商品12</form></td>
<td><form><input type="checkbox" name="product13" />商品13</form></td>
<td><form><input type="checkbox" name="product14" />商品14</form></td>
<td><form><input type="checkbox" name="product15" />商品15</form></td>
</tr>
       <tr>
<td><form><input type="checkbox" name="product16" />商品16</form></td>
<td><form><input type="checkbox" name="product17" />商品17</form></td>
<td><form><input type="checkbox" name="product18" />商品18</form></td>
<td><form><input type="checkbox" name="product19" />商品19</form></td>
<td><form><input type="checkbox" name="product20" />商品20</form></td>
</tr>
       <tr>
<td><form><input type="checkbox" name="product21" />商品21</form></td>
<td><form><input type="checkbox" name="product22" />商品22</form></td>
<td><form><input type="checkbox" name="product23" />商品23</form></td>
<td><form><input type="checkbox" name="product24" />商品24</form></td>
<td><form><input type="checkbox" name="product25" />商品25</form></td>
</tr>
    </table>
   </br><p>以上产品每消费
<input type="jiage" name="jiage" /> 元获取 <input type="jifen" name="jifen" /> 积分
<input style="margin:10px 40px" id="submit" value="确认保存" type="submit" /> </p>
            
           </div>
           <div id="lebel_content2">
           		 <h2 align="center";>等级制度管理</h2></br>
                 <p><input type="quanzhi" name="quanzhi" value="请输入权值"/> × <select id="jiaquan1" name="jiaquan1">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">消费额总量</option>
                        <option value="3">毛利润总量</option>
                        <option value="4">反比例</option>
                        <option value="5">单参数</option>
                        <option value="6">根据时间加权的毛利润</option>
                    <select>
        + <input type="quanzhi" name="quanzhi" value="请输入权值"/> × <select id="jiaquan2" name="jiaquan2">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">消费额总量</option>
                        <option value="3">毛利润总量</option>
                        <option value="4">反比例</option>
                        <option value="5">单参数</option>
                        <option value="6">根据时间加权的毛利润</option>
                    <select> +</br>
         <input type="quanzhi" name="quanzhi" value="请输入权值"/> × <select id="jiaquan3" name="jiaquan3">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">消费额总量</option>
                        <option value="3">毛利润总量</option>
                        <option value="4">反比例</option>
                        <option value="5">单参数</option>
                        <option value="6">根据时间加权的毛利润</option>
                    <select>
                    + <input type="quanzhi" name="quanzhi" value="请输入权值"/> × <select id="jiaquan4" name="jiaquan4">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">消费额总量</option>
                        <option value="3">毛利润总量</option>
                        <option value="4">反比例</option>
                        <option value="5">单参数</option>
                        <option value="6">根据时间加权的毛利润</option>
                    <select>
                + </br>   <input type="quanzhi" name="quanzhi" value="请输入权值"/> × <select id="jiaquan5" name="jiaquan5">
                        <option value="1"  selected="selected">请选择</option>
                        <option value="2">消费额总量</option>
                        <option value="3">毛利润总量</option>
                        <option value="4">反比例</option>
                        <option value="5">单参数</option>
                        <option value="6">根据时间加权的毛利润</option>
                    <select> = 评级总分</p>
    
   </br><p>总分前
<input type="bili" name="bili" /> %为铂金用户</p>
<p>总分前 <input type="bili" name="bili" value="已考虑之前比例"/> %为黄金用户</p>
<p>总分前 <input type="bili" name="bili" value="已考虑之前比例"/> %为钢铁用户</p>
<p>总分前 <input type="bili" name="bili" value="已考虑之前比例"/> %重铅金用户</p>
<input style="margin:10px 40px" id="submit" value="确认保存" type="submit" /></br></br></br></br>
           </div>
         </div>   
         <!------------------------------------------------------------------->
            <nav class="navigation-bar fixed-bottom light">
                <nav class="navigation-bar-content">
                    <div class="element place-right">
                        <ul class="element-menu drop-up">
                            <li>
                                <a class="dropdown-toggle without-icon" href="#" style="padding:0 !important;">
                                    <span class="icon-cog"></span>
                                </a>
                                <ul class="dropdown-menu place-right" data-role="dropdown">
                                    <li><a href="#">锁定</a></li>
                                    <li><a href="#">注销</a></li>
                                    <li><a href="#">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element  image-button image-left place-right">
                        Moonbuck
                        <img src="image/11.jpg" />
                    </button>
                    <span class="element-divider place-right"></span>
                    <div class="element place-right">
                        <span>北京大学信息管理系版权所有&copy;</span>
                    </div>
                </nav>
            </nav>
        </div>
	</body>
</html>
