html, body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft UI Light', sans-serif;
}
div#sidebar{float:left; width:150px;}
h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
.sidebar_box {
	position: relative;
	background: #f0f0f0;
	margin-bottom: 36px;
	border: 1px solid #dbdbdb
}
.sidebar_box h3 { font-size: 14px; font-weight: 700; padding: 0 10px 0 35px; margin: 0; width: 185px; height: 33px; line-height: 33px; margin-bottom: 0; background: url(images/templatemo_sidebar_header.png)  no-repeat; color: #2f2f2f }

#sidebar .sidebar_box .content {
	padding: 10px 10px 0;
}
.biaodan{position:relative;top:20px;left:20px;padding:10px 20px;}

#sidebar .sidebar_list { margin: 0; padding: 0 0 10px; list-style: none; }
#sidebar .sidebar_list li { display: block; margin: 0; padding: 5px 0; border-top: 1px solid #fff; border-bottom: 1px solid #d3d3d3 }
#sidebar .sidebar_list li.first { border-top: none }
#sidebar .sidebar_list li.last { border-bottom: none }
#sidebar .sidebar_list li a { color: #666;   }
#sidebar .sidebar_list li a:hover { color: #000; text-decoration: none }
.biaodan{float:left;}
div.biaodan input{margin:10px 20px 10px 0;}
div.content_selectbutton{position:relative;top:20px;left:10px;}
div.content_selectbutton h2{text-align:center;}
div.content_selectbutton1{position:relative;top:20px;left:30px; border-bottom:1px solid #CCF}
div.content_selectbutton1 select,input{margin:5px; padding:5px;}
div.content_selectbutton2{position:relative;top:40px;text-align:center;font:Verdana, Geneva, sans-serif;font-style:italic;}
.select_result table{border-collapse:collapse;margin:0px;padding:0px;width:75%;font-family: 'Lato', Calibri, Arial, sans-serif;font-size:75%;text-align:center;}
.select_result thead th{border:1px solid black;text-indent:;font-weight:bold;text-align:left;font-size:120%;text-align:center;padding:10px 2px 10px 2px;font-size:18px;}
.select_result thead td{padding:px 0px 12px 5px;border:1px solid black;}
.select_result thead select,thead input{margin:0px 0px 0px 5px;}
.select_result tbody tr{background-image:url(../images/table-dotted.gif);background-position:bottom left;background-repeat:repeat-x;}
.select_result tbody td{;text-indent:5px;}
.select_result tbody tr.highlighted{background-color:#FAFAFA !important;}
.select_result tbody tr.hoverHighlighted{background-color:#DFE6EB !important;}
div#content_result{position:relative;top:20px;left:20px}
